{% extends 'dsc_app/base.html'%}
{% load static %}
{% block title%}Create Event{% endblock%}

{% block content%}
{% if new_event %}
<h2> Event created successfully</h2>
{% else%}
<h2 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-white mb-4">Create New Event</h2>
<form  action="" method="post">
    {{event_form.as_p}}
    {% csrf_token %}
    <button class="btn btn-primary w-100 py-3" type="submit">Create new event</button>
</form>
{% endif %}
{% endblock content%}